*{
    margin: 0;
}

:root{
    font-size: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
}

header {
    background-color: black;
    color: white;
}

.encabezado {
    display: flex;
    align-items: center;
    margin-left: 15%;  
    justify-content: center;
}

.logo-y-titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img {
    width: 30%;  
}

.frase1 h2{
    line-height: 1.1;
    font-size: 4vw;
    color: white;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img_hombre img {
    margin-left: 10%;
    max-width: 100%;
    height: auto;
}

nav a {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 2vw;
    padding-right: 5%;
}

nav a:hover {
    color: rgb(211, 79, 255);
}

.contenedor_nav {
    background-color: rgba(25, 0, 255, 0.816);
    height: 7vh;
    display: flex;
    justify-content: center;
}

footer {
    background-color:black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacto ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: center;
}

.contacto li {
    margin-bottom: 10px;
}

.redes img {
    width: 50px;
} 

.mapa {
    width: 300px;
    height: 200px;
   
}
