/* styles.css */
header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 100px; /* Ajusta el tamaño del logo */
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
